@model bool

@if (Model)
{
    <li class="govuk-service-navigation__item" id="settings">
        <a class="govuk-service-navigation__link" href="/settings">
            Settings
        </a>
    </li>
} 